{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h3>
    {{ customer_item.first_name }}
		{{ customer_item.last_name }}
    </h3>
  </div>
  <div class="card-body">

    <p class="card-text">
      <strong>Email: </strong>{{ customer_item.email }}
    </p>

    <p class="card-text">
      <strong>Phone: </strong>{{ customer_item.phone }}
    </p>

    <p class="card-text">
      <strong>Address: </strong>{{ customer_item.address }}
    </p>

    <p class="card-text">
      <strong>City: </strong>{{ customer_item.city }}
    </p>

    <p class="card-text">
      <strong>State: </strong>{{ customer_item.state }}
    </p>

    <p class="card-text">
      <strong>Zipcode: </strong>{{ customer_item.zipcode }}
    </p>

    <p class="card-text">
      <strong>Create At: </strong>{{ customer_item.created_at }}
    </p>

    <p class="card-text">
      <strong>ID: </strong>{{ customer_item.id }}
    </p>

  </div>
</div>

<br /><br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_customer' customer_item.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_customer' customer_item.id %}" class="btn btn-success">Update</a>


{% endblock %}